body > .header .logo {
    font-family: inherit;
}

body > .header .navbar .nav > li > a > .badge {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 75%;
}

body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
    background: none;
    color: inherit;
}

body .user-panel > .info {
    padding-left: 10px;
}

body a.asc:after,
body a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

body a.asc:after {
    content: "\e151";
}

body a.desc:after {
    content: "\e152";
}

body .sort-numerical a.asc:after {
    content: "\e153";
}

body .sort-numerical a.desc:after {
    content: "\e154";
}

body .sort-ordinal a.asc:after {
    content: "\e155";
}

body .sort-ordinal a.desc:after {
    content: "\e156";
}

body .grid-view th {
    white-space: nowrap;
}

body .hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

body .error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.margin-right-15 {
    margin-right: 15px;
}

.youtubePlayer {
    position: relative;
    height: 0;
    overflow: hidden;
}

.youtubePlayer iframe, .youtubePlayer object, .youtubePlayer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tab-pane > .row {
    line-height: 36px;
    padding: 0 25px;
}

.tab-pane > .row.active {
    background: #f7f7f7;
}

.blockOptionsRowTitle {
    color: #757575;
    padding-left: 9px;
    font-size: 14px
}